@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.testTypes{
    display:flex;
    justify-content: center;
}

.createTest{
    background: url("img/create.png");
    transition: 1s;
}

.statsByTests{
    background: url("img/stats.png");
    transition: 1s;
}


.createTestForm{
    background: rgb(255, 80, 80);
    transition: 1s;
    color:white;
    border-radius: 10px;
    max-width:300px;
    border: 2px solid black;
}

.questionsCheck{
    background: rgb(58, 153, 0);
    transition: 1s;
    color:white;
    border-radius: 10px;
    max-width:300px;
    border: 2px solid black;
    margin-top:15px;
}

.completeTest{
    background: url("img/complete.png");
    transition: 1s;
}

.createTest, .completeTest, .statsByTests, .sendReport{
    transition:1s;
    border: solid 2px black;
    width:200px;
    height:140px;
    border-radius:10px;
    margin-right:15px;
}

.createTest:hover, .completeTest:hover, .statsByTests:hover, .sendReport:hover{
    transform: scale(1.1);
}

input, button, textarea{
    border-radius:5px;
    border: 2px solid black;
}

.createTestForm, .completeTestForm{
    border: 2px solid black;
    max-width:500px;
}

.reportForm{
    width: 350px;
}

.reportFormInput{
    width:200px;
}
.reportFormTarea{
    width:200px;
    resize: vertical;
}

.sendReport{
    background: url("img/report.png");
}

.reportForm{
    background: rgb(231, 255, 82);
    color:black;
    border-radius: 10px;
    max-width:350px;
    border: 2px solid black;
    margin-top:15px;
}