@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.testTypes{
    display:flex;
}

.createTest{
    background: url("img/create.png");
    transition: 1s;
}

.statsByTests{
    background: url("img/stats.png");
    transition: 1s;
    color:black;
}


.createTestForm{
    background: rgb(255, 80, 80);
    transition: 1s;
    color:white;
}

.completeTest{
    background: url("img/complete.png");
    transition: 1s;
}

.createTest, .completeTest, .statsByTests{
    border: solid 2px black;
    width:200px;
    height:140px;
    border-radius:10px;
    margin-right:15px;
}

input, button{
    border-radius:5px;
}

.createTestForm, .completeTestForm{
    border: solid 2px black;
    width:350px;
}